In [ ]:
## Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [1]:
#Exercise 3 - Create a markdown cell for an introduction

#Write an introductory sentence about the notebook such as the follows:

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Common used libraries in Data Science
* Popular languages for Data Science
* Data Science Tools
* Aritmetic Expressions

In [2]:
#Exercise 4 - Create a markdown cell to list data science languages

#Start the cell with an overview line such as:

Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. R

In [3]:
#Exercise 5 - Create a markdown cell to list data science libraries

#Add an overview line to the cell like:

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. SciPy

In [4]:
#Exercise 6 - Create a markdown cell with a table of Data Science tools

#Create a single column table in this cell with the first row containing the header Data Science Tools. 
#The subsequent three rows in the table should indicate three development environment open source tools used in data science.

|Data Science Tools|
|------------------|
|Python Lab        |
|MongoDB           |
|Google Colab      |

In [6]:
#Exercise 7 - Create a markdown cell introducing arithmetic expression examples

#Add a line in this cell with H3 style heading with text like:

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#Exercise 8 - Create a code cell to multiply and add numbers

#In this code cell evaluate the expression (3*4)+5.
#Insert a comment line before the expression to explain the operation e.g.  
#This a simple arithmetic expression to mutiply then add integers.

In [12]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

17

In [10]:
#Exercise 9 - Create a code cell to convert minutes to hours

#In this code cell write an expression that converts 200 minutes into hours.
#Insert a comment line before the expression to explain the operation e.g. 
#This will convert 200 minutes to hours by diving by 60.

In [11]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

In [13]:
#Exercise 10 - Insert a markdown cell to list Objectives

#Below the introduction cell created in Exercise 3, insert a new markdown cell to list 
#the objectives that this notebook covered (i.e. some of the key takeaways from the course). 
#In this new cell start with an introductory line titled: Objectives: in bold font. 
#Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, 
#such as List popular languages for Data Science.

**Objectives:**
* Common used libraries in Data Science
* Popular languages for Data Science
* Data Science Tools
* Aritmetic Expressions

In [14]:
#Exercise 11 - Create a markdown cell to indicate the Author's name

#In this markdown cell markdown cell include the following text Author in H2 style heading. 
#Include your name as regular text below the word Author.

## Author
Christian Perez Ramirez